In [1]:
1+1

2

In [2]:
1*3

3

In [3]:
1/2

0.5

In [4]:
2**4

16

In [5]:
2 + 3 * 5 + 5

22

In [1]:
(2 + 3) - (5 + 5)

-5

In [6]:
(2 + 3) * (5 + 5)

50

In [7]:
4 % 4

0

In [8]:
var = 2

In [9]:
var

2

In [10]:
x = 2
y = 3
x + y

5

In [11]:
name_of_var = 12

In [12]:
#Comments start with a #

In [13]:
'single qoute'

'single qoute'

In [14]:
"double quotes"

'double quotes'

In [15]:
"i can't go"

"i can't go"

In [16]:
x = "hello"

In [25]:
print('My number is {} and my name is {}'.format(num, name))

My number is 12 and my name is Sam

In [26]:
print('My number is {one} and my name is {two}'.format(one=num, two=name))

My number is 12 and my name is Sam

In [31]:
s = "hello"

In [32]:
s[0]

'h'

In [33]:
s[4]

'o'

In [34]:
s = "abcdefghijk"

In [36]:
s[0:]

'abcdefghijk'

In [37]:
s[:3]

'abc'

In [39]:
s[3:6]

'def'

In [40]:
#lists

In [41]:
[1,2,3]

[1, 2, 3]

In [42]:
my_list = ["a","b","c"]

In [43]:
my_list.append("d")

In [44]:
my_list

['a', 'b', 'c', 'd']

In [45]:
my_list[0]

'a'

In [46]:
my_list[1:3]

['b', 'c']

In [48]:
my_list[0] = "NEW"

In [49]:
my_list

['NEW', 'b', 'c', 'd']

In [50]:
nest = [1,2,[3,4]]

In [51]:
nest

[1, 2, [3, 4]]

In [52]:
nest[2]

[3, 4]

In [53]:
nest[2][1]

4

In [55]:
nest = [1,2,3,[4,5,["target"]]]

In [56]:
nest

[1, 2, 3, [4, 5, ['target']]]

In [57]:
nest[2]

3

In [58]:
nest[3]

[4, 5, ['target']]

In [59]:
nest[3][2]

['target']

In [60]:
nest[3][2][0]

'target'

In [61]:
### PARTE 2 ###

In [62]:
d = {"key1": "value", "key2": 123}

In [63]:
d

{'key1': 'value', 'key2': 123}

In [64]:
d["key1"]

'value'

In [65]:
d["key2"]

123

In [66]:
d = {"k1": [1,2,3]}

In [68]:
d["k1"]

[1, 2, 3]

In [69]:
d["k1"][1]

2

In [70]:
d = {"k1": {"innerkey":[1,2,3]}}

In [72]:
d["k1"]["innerkey"][1]

2

In [73]:
True

True

In [74]:
False

False

In [75]:
my_list = [1,2,3]

In [76]:
my_list[0]

1

In [77]:
t = (1,2,3)

In [78]:
t[0]

1

In [79]:
t[0] = "new"

TypeError: 'tuple' object does not support item assignment

In [80]:
{1,2,3}

{1, 2, 3}

In [81]:
{1,1,1}

{1}

In [82]:
{1,1,1,2,2,2,3,3,3,3,}

{1, 2, 3}

In [83]:
set([1,1,1,1,2,2,2,2,3,3,3])

{1, 2, 3}

In [84]:
s = {1,2,3}

In [85]:
s.add(5)

In [86]:
s

{1, 2, 3, 5}

In [87]:
s.add(5)

In [88]:
s

{1, 2, 3, 5}

In [89]:
1 > 2

False

In [90]:
1<2

True

In [91]:
 1<=2

True

In [92]:
 1 == 1

True

In [93]:
 1 == 2

False

In [94]:
1 != 3

True

In [95]:
1 < 2 and 2 < 3

True

In [96]:
(1 < 2) and (3 < 3)

False

In [97]:
(1 < 2) or (3 < 3)

True

In [98]:
if(1 < 2):
    print('yep')

yep

In [99]:
if(1 < 2):
    x = 2+2

In [2]:
if(1 == 2):
    print('first')
elif (3 == 3):
    print('middle')
else:
    print('last')

middle

In [3]:
seq = [1,2,3,4,5]

In [6]:
for x in seq:
    print('hello')

hello
hello
hello
hello
hello

In [8]:
i = 1

while i < 5:
    print('i is: {}'.format(i))
    i = i+1

i is: 1
i is: 2
i is: 3
i is: 4
i is: 5

In [9]:
range(0,5)

range(0, 5)

In [12]:
for x in range(0,5):
    print(x)

0
1
2
3
4

In [13]:
x = [1,2,3,4]

In [14]:
out = []
for num in x:
    out.append(num**2)

In [15]:
print(out)

[1, 4, 9, 16]

In [16]:
[num**2 for num in x]

[1, 4, 9, 16]

In [17]:
out = [num*2 for num in x]

In [18]:
print(out)

[2, 4, 6, 8]

In [24]:
def my_func(name = 'Ramon'):
    print('hello ' + name)

In [26]:
my_func()

hello Ramon

In [30]:
def square(num):
    """
    ESTO ES UN COMENTARIO
    ESTA FUNCION RETORNA EL CUADRADO DE UN NUMERO
    """
    return num**2

In [31]:
output = square(2)

In [32]:
print(output)

4

In [33]:
square

In [34]:
def times2 (var):
    return var*2

In [35]:
times2(5)

10

In [36]:
#map function

In [37]:
seq = [1,2,3,4,5]

In [39]:
list(map(times2, seq))

[2, 4, 6, 8, 10]

In [42]:
seq_por_2 = map(times2, seq)
print(list(seq_por_2))

[2, 4, 6, 8, 10]

In [45]:
#lambda expression
list(map(lambda var: var*2, seq))

[2, 4, 6, 8, 10]

In [46]:
filter(lambda num: num%2 == 0, seq)

In [47]:
list(filter(lambda num: num%2 == 0, seq))

[2, 4]

In [48]:
s = 'hello my name is Alex'

In [50]:
s.capitalize()

'Hello my name is alex'

In [53]:
s.split(' ')

['hello', 'my', 'name', 'is', 'Alex']

In [55]:
d = {'k1': 1, 'k2': 2}

In [56]:
d

{'k1': 1, 'k2': 2}

In [57]:
d.keys()

dict_keys(['k1', 'k2'])

In [58]:
d.values()

dict_values([1, 2])

In [59]:
lst = [1,2,3]

In [60]:
lst.pop()

3

In [61]:
lst

[1, 2]

In [62]:
lst = [1,2,3,4,5]

In [63]:
item = lst.pop()

In [64]:
item

5

In [65]:
item.append(lst.pop(0))

AttributeError: 'int' object has no attribute 'append'

In [66]:
'x' in [1,2,3]

False

In [67]:
'x' in ['x', 'y', 'z']

True

In [68]:
x = [(1,2),(3,4),(5,6)]

In [69]:
x[0]

(1, 2)

In [70]:
x[0][0]

1

In [73]:
for (a,b) in x:
    print(b)

2
4
6